@mixin backgroundImg {
    background-size: auto;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../public/fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('../public/fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../public/fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../public/fonts/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('../public/fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../public/fonts/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../public/fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../public/fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../public/fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display';
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}

.separator {
    display: flex;
}

.page__content {
    max-width: 1470px;
    padding: 10px 15px;
    margin: 0 auto;
}

.background {
    background-color: rgba(241, 244, 249, 1);
}

.wrapper {
    width: 100%;
    background-color: rgba(241, 244, 249, 1);
}

.sidebar {
    width: 240px;
    background-color: rgba(9, 19, 54, 1);

    &__list_logo {
        padding: 20px 0 47px 12px;
    }

    &__list_link {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.6);
    }

    &__list_item {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 20px 0 20px 57px;
        background-position: 20px 20px;
        @include backgroundImg;
    }

    &__list_item:hover {
        background-color: rgba(216, 228, 251, 0.32);
    }

    &__list_item:active {
        background-color: rgba(216, 228, 251, 0.32);
    }

    &__list_item:active::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #FFD500;
        box-shadow: 0px 3px 8px;
        border-radius: 50%;
        top: 44%;
        right: 10%;
    }

    &__list_item:active::before {
        content: "";
        position: absolute;
        width: 3px;
        top: 0px;
        height: 64px;
        background-color: #002CFB;
        left: 0px;
    }

    &__list_item4::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #FFD500;
        box-shadow: 0px 3px 8px;
        border-radius: 50%;
        top: 44%;
        right: 10%;
    }

    &__list_item4::before {
        content: "";
        position: absolute;
        width: 3px;
        top: 0px;
        height: 64px;
        background-color: #002CFB;
        left: 0px;
    }

    &__list_item1 {
        background-image: url(../public/img/bar-icon1.svg);
    }

    &__list_item2 {
        background-image: url(../public/img/bar-icon2.svg);
        background-position: 20px 25px;
    }

    &__list_item3 {
        background-image: url(../public/img/bar-icon3.svg);
        background-position: 20px 23px;
    }

    &__list_item4 {
        background-image: url(../public/img/bar-icon4.svg);
        background-position: 20px 23px;
        background-color: rgba(216, 228, 251, 0.32);
    }

    &__list_item5 {
        background-image: url(../public/img/bar-icon5.svg);
        background-position: 20px 25px;
    }

    &__list_item6 {
        background-image: url(../public/img/bar-icon6.svg);
    }

    &__list_item7 {
        background-image: url(../public/img/bar-icon7.svg);
    }

    &__list_item8 {
        background-image: url(../public/img/bar-icon8.svg);
    }

    &__list_item9 {
        background-image: url(../public/img/bar-icon9.svg);
    }

    &__list_item10 {
        background-image: url(../public/img/bar-icon10.svg);
    }

    &__btns {
        padding: 70px 20px 0 20px;
    }

    &__btn {
        width: 200px;
        padding: 15px 50px 15px 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 148%;
        background-color: rgba(0, 95, 248, 1);
        color: rgba(255, 255, 255, 1);
        border-radius: 4px;
        transition: all 0.2s ease;
    }

    &__btn:hover {
        background-color: rgba(0, 36, 203, 1);
    }

    &__btn:active {
        background-color: rgba(39, 75, 200, 1);
    }

    &__btn:focus-visible {
        outline: none;
        background-color: rgba(0, 36, 203, 1);
    }

    &__btn:first-child {
        margin-bottom: 32px;
        background-image: url(../public/img/bar-btn1.svg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
    }

    &__btn:last-child {
        background-image: url(../public/img/bar-btn2.svg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
    }

}

.header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 25px;

    &__list {
        display: flex;
    }

    &__date {
        font-weight: 400;
        font-size: 15px;
        line-height: 148%;
        color: rgba(137, 156, 177, 1);
    }

    &__result_text {
        padding-bottom: 7px;
        font-weight: 400;
        font-size: 14px;
        line-height: 148%;
        color: rgba(18, 41, 69, 1);
    }

    &__result_span {
        color: rgba(0, 167, 117, 1);
    }

    &__result_span_calls {
        color: rgba(0, 167, 117, 1);
    }

    &__result_span_quality {
        color: rgba(255, 184, 0, 1);
    }

    &__result_span_order {
        color: rgba(234, 26, 79, 1);
    }

    &__center {
        position: relative;
        margin-left: 86px;
    }

    &__range {
        position: absolute;
        display: block;
        width: 156px;
        height: 6px;
        background-color: rgba(222, 230, 245, 1);
        border-radius: 12px;
    }

    &__range_calls::after {
        content: '';
        position: absolute;
        display: block;
        z-index: 10;
        width: 50px;
        height: 6px;
        background-color: rgba(40, 168, 121, 1);
        border-radius: 12px;
    }

    &__range_quality::after {
        content: '';
        position: absolute;
        display: block;
        z-index: 10;
        width: 50px;
        height: 6px;
        background-color: rgba(255, 184, 0, 1);
        border-radius: 12px;
    }

    &__range_order::after {
        content: '';
        position: absolute;
        display: block;
        z-index: 10;
        width: 50px;
        height: 6px;
        background-color: rgba(234, 26, 79, 1);
        border-radius: 12px;
    }

    &__list_item:not(:first-child) {
        margin-left: 56px;
    }

    &__search {
        cursor: pointer;
        height: 16px;
        width: 16px;
    }

    &__search:hover path {
        stroke: rgba(0, 44, 251, 1);
        fill: rgba(0, 44, 251, 1);
    }

    &__left {
        display: flex;
        width: 52%;
        justify-content: space-between;
        align-items: end;
    }

    &__right {
        position: relative;
        display: flex;
        align-items: end;
    }

    &__agent {
        font-weight: 400;
        padding-left: 64px;
        font-size: 15px;
        line-height: 140%;
        white-space: nowrap;
        color: rgba(137, 156, 177, 1);
    }

    &__agent_span {
        position: relative;
    }

    &__agent_span::after {
        content: '';
        position: absolute;
        cursor: pointer;
        top: -18px;
        bottom: 0;
        left: 12px;
        right: 0;
        width: 8px;
        height: 8px;
        border-bottom: 2.5px solid rgba(173, 191, 223, .8);
        border-left: 2.5px solid rgba(173, 191, 223, .8);
        transform: rotate(-45deg);
    }

    &__agent_span:hover::after {
        border-color: rgba(0, 44, 251, 1);
        transition: all .2s ease;
    }

    &__agent_span:active::after {
        border-color: rgba(0, 44, 251, 1);
        transition: all .00001s ease;
        top: -11px;
        transform: rotate(135deg);

    }

    &__avatar {
        margin-left: 50px;
        width: 40px;
        height: 40px;
        background-image: url(../public/img/avatar.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 48px;
    }

    &__avatar_span {
        cursor: pointer;
        margin-left: 10px;
        width: 8px;
        height: 8px;
        border-bottom: 2.5px solid rgba(173, 191, 223, .8);
        border-left: 2.5px solid rgba(173, 191, 223, .8);
        transform: rotate(-45deg) translateY(-9px)translateX(4px);
    }

    &__avatar_span:hover {
        border-color: rgba(0, 44, 251, 1);
        transition: all .2s ease;
    }

    &__avatar_span:active {
        border-color: rgba(0, 44, 251, 1);
        transition: all .00001s ease;
        transform: rotate(135deg);

    }

}

.main {

    &__container {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.balance {
    position: absolute;
    right: 10%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 48px;
    margin-right: 72px;
    padding: 10px 17px 9px 18px;

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 148%;
        color: #899CB1;
    }

    &__sum {
        font-weight: bold;
        color: rgba(18, 41, 69, 1);

    }

    &__btn {
        margin-left: 10px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-image: url(../public/img/btn-sum.svg);
    }
}

.calendar {
    position: relative;

    &__calendar {
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }

    &__calendar:hover path {
        fill: rgba(0, 44, 251, 1);
    }

    &__date {
        position: relative;
        cursor: pointer;
        padding: 0 29px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 95, 248, 1);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    &__minus {
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        left: -23px;
        top: 27%;
        border-bottom: 2.5px solid rgba(173, 191, 223, 0.8);
        border-left: 2.5px solid rgba(173, 191, 223, 0.8);
        transform: rotate(45deg);
        cursor: pointer;
    }

    &__minus:hover {
        border-color: rgba(0, 44, 251, 1);

    }

    &__plus {
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        right: 4px;
        top: 27%;
        border-bottom: 2.5px solid rgba(173, 191, 223, 0.8);
        border-left: 2.5px solid rgba(173, 191, 223, 0.8);
        transform: rotate(-135deg);
        cursor: pointer;
    }

    &__plus:hover {
        border-color: rgba(0, 44, 251, 1);

    }

    &__modal {
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 32px;
        width: 205px;
        height: 240px;
        background-color: rgba(255, 255, 255, 1);
        z-index: 10;
        border-radius: 4px;
        box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
    }

    &__modal__list {
        display: flex;
        justify-content: center;
    }

    &__modal__list_item {
        cursor: pointer;
        padding: 7px 0 7px 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: rgba(137, 156, 177, 1);
    }

    &__modal__list_item:hover {
        background-color: rgba(0, 44, 251, .13);
        color: rgba(18, 41, 69, 1);
    }

    &__modal__list_item_set-date {
        padding: 7px 0 7px 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: rgba(18, 41, 69, 1);
    }

    &__input {
        position: relative;
        border: none;
        background-image: url(../public/img/input-mask.svg);
        background-repeat: no-repeat;
        background-position: 0px 9px
    }


    &__input:focus-visible {
        outline: none;
    }

}

.calls {
    &__modal {
        position: absolute;
        flex-direction: column;
        right: -21px;
        top: 27px;
        width: 205px;
        background-color: rgba(255, 255, 255, 1);
        z-index: 2;
        border-radius: 4px;
        box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
    }

    &__modal__list {
        display: flex;
        justify-content: center;
    }

    &__modal__list_item {
        cursor: pointer;
        padding: 7px 0 7px 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: rgba(137, 156, 177, 1);
    }

    &__modal__list_item:hover {
        background-color: rgba(0, 44, 251, .13);
        color: rgba(18, 41, 69, 1);
    }
}

.filters {
    padding: 34px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__input_div {
        position: relative;
    }

    &__input {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: rgba(94, 119, 147, .8);
        padding-left: 25px;
        border: none;
        background-color: transparent;
        background-image: url(../public/img/search.svg);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: 1px 1px;
    }

    &__input_btn {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0;
        background-image: url(../public/img/close.svg);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: 1px 1px;
    }

    &__input_btn:hover {
        background-image: url(../public/img/close-active.svg);
    }

    &__input:hover {
        background-image: url(../public/img/search-active.svg);
        background-size: 16px 16px;

    }

    &__input:focus {
        outline: 1px solid rgba(0, 44, 251, 1);
        outline-offset: 10px;
        border-radius: 48px;
        color: #122945;
    }

    &__input:active {
        outline-color: rgba(94, 119, 147);
    }

    &__input::placeholder {
        color: rgba(94, 119, 147, .8);

    }

    &__list {
        display: flex;
    }

    &__list_item {
        position: relative;
        white-space: nowrap;
        font-weight: 400;
        font-size: 14px;
        line-height: 148%;
        color: rgba(94, 119, 147, .8);
        cursor: pointer;
    }

    &__arrow {
        padding-left: 10px;
        width: 10px;
        height: 7px;
        right: -18px;
        top: 38%;
    }

    &__list_item:hover path {
        fill: rgba(0, 44, 251, 1);
        transition: all .00001s ease;
    }

    &__list_item:not(:first-child) {
        margin-left: 43px;
    }
}

.table {
    background-color: #fff;
    border-radius: 8px;
    padding: 26px 40px;

    &__top__list {
        display: flex;
        padding-bottom: 20px;
    }

    &__top__list_item {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: rgba(137, 156, 177);
    }

    &__top__list_item2 {
        padding-left: 2.3%;
    }

    &__top__list_item3 {
        padding-left: 3.5%;
    }

    &__top__list_item4 {
        padding-left: 5%;
    }

    &__top__list_item5 {
        padding-left: 19%;
    }

    &__top__list_item6 {
        padding-left: 11.3%;
    }

    &__top__list_item7 {
        padding-left: 32.5%;
    }
}

.data {
    &__list {
        display: flex;
        position: relative;
        cursor: pointer;
        align-items: center;
        border-top: 1px solid rgba(234, 240, 250, 1);
        padding: 20px 0;
    }

    &__list:hover {
        background: linear-gradient(45deg, rgba(212, 223, 243, 0) 0, rgba(212, 223, 243, 0.2) 10%, rgba(212, 223, 243, 0.2) 90%, rgba(212, 223, 243, 0) 100%)
    }

    &__list:active {
        background: linear-gradient(45deg, rgba(212, 223, 243, 0) 0, rgba(212, 223, 243, 0.5) 10%, rgba(212, 223, 243, 0.7) 90%, rgba(212, 223, 243, 0) 100%)
    }

    &__type_in_true {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../public/img/call-in-true.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
    }

    &__type_in_false {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../public/img/call-in-false.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
    }

    &__type_out_true {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../public/img/call-out-true.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
    }

    &__type_out_false {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../public/img/call-out-false.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
    }

    &__list_item_time {
        padding-left: 2.4%;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: rgba(18, 41, 69, 1);
    }

    &__list_item_avatar {
        padding-left: 3.7%;
    }

    &__avatar {
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(https://lk.skilla.ru/img/noavatar.jpg);
        background-repeat: no-repeat;
        background-size: 32px;
        background-position: center;
    }

    &__list_item_number {
        padding-left: 7.5%;
    }

    &__number {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: rgba(18, 41, 69, 1);
    }

    &__list_item_origin {
        padding-left: 14.6%;
    }

    &__origin {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: rgba(94, 119, 147, 1);
    }

    &__list_item_rate {
        padding-left: 10.9%;
    }

    &__list_item_duration {
        padding-left: 10.8%;
        margin-left: auto;
    }

    &__duration {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: rgba(18, 41, 69, 1);
    }

    &__audio {
        position: absolute;
        top: 14%;
        right: 0%;
        height: 48px;

    }

    &__audio::-webkit-media-controls-panel {
        background-color: #EAF0FA;
        border-radius: 48px;

    }

    &__audio:focus-visible {
        outline: none;
    }

    &__audio::-webkit-media-controls-play-button {
        background-color: #fff;
        border-radius: 24px;
    }

}

.active-calls-filter {
    color: rgba(0, 44, 251, 1)
}

.arrow-active {
    transform: rotate(180deg) translateX(-10px);
}

.arrow-colored path {
    fill: rgba(0, 44, 251, 1);
}